@model IEnumerable<Arti.Client.Models.TaskArti>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (TempData["ADDS"] != null)
    {
        <div class="alert alert-success">
            @TempData["ADDS"]
        </div>
    }
    <a asp-action="Create">Create New</a>
</p>
@await Html.PartialAsync("~/Views/Servece/AlertErorrcshtml.cshtml")
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CraftsmanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CraftsmanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
                    <a asp-action="Delete1" asp-route-id=@item.Id> Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>
