@model IEnumerable<Arti.Client.Models.Property>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["ADDS"] != null)
{
    <div class="alert alert-success">
        @TempData["ADDS"]
    </div>
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@await Html.PartialAsync("~/Views/Servece/AlertErorrcshtml.cshtml")
<table class="table">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.UnitSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.UnitSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <a asp-action="Delete1" asp-route-id=@item.Id> Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>
